    <div id="about" class="content about hidden">
      <img class="side" src="https://picsum.photos/200/300">
      <h3>hi! i'm jane! (she/her, also known as jxxne)</h3>
      <p>i'm a musician and programmer from the north of england.</p>
      <br>
      <p>i've been programming since i was 10, and making music since i was 12. as of writing this, i've released 1 ep and 2 singles.</p>
      </p>
      <br>
      <p>currently i'm really into a lot of metalcore and grindcore music (my most listened to song this week is <a id="abouttrackname" class="link" href="">INSERTTRACKHERE</a>), and i tend to make digital hardcore music under the name jxxne!</p>
     <br>
     <a href="https://badge.les.bi"><img title="trans" style="image-rendering: pixelated;" src="https://badge.les.bi/88x31/trans/outset.png"></a>
     <img style="image-rendering: pixelated;" src="https://adriansblinkiecollection.neocities.org/buttons/a84.gif">
    </div>