    <div id="contact" class="content contact hidden">
      <h1 class="title">add my discord!</h1>
      <div onclick="window.open('https://discord.gg/zurt2Uugy8')" class="discordprofile">
        <img id="discordpfp" class="image" src="">
        <img id="discordbanner" class="banner" src="">
        <h1 id="discorddisplayname" class="displayname"></h1>
        <p id="discordusername" class="username"></p>
        <p id="discordactivity" class="activity"></p>
        <div id="discordstatusbg" class="statusbackground">
        </div>
        <p id="discordstatus" class="status"></p>
        <div class="hover">
          <a>click to join my server</a>
        </div>
      </div>
      <h1 class="email">or email me at janeglsp@gmail.com</h1>
    </div>
    