    <div id="music" class="content music hidden ">
      <div class="boxleft">
        <h3>here's my music!</h3>
        <p>click to listen!</p>
        <div id="albums" class="albums unscrolled">
          <div onclick="window.open('https://distrokid.com/hyperfollow/jxxne/my-head-hurts')" class="album">
            <img src="/albums/mhh.webp">
            <div class="hover">
              <a>my head hurts (ep, 2023)</a>
            </div>
          </div>
          <div onclick="window.open('https://distrokid.com/hyperfollow/jxxne/smile-so-loud-euphoric')" class="album">
            <img src="/albums/ssl.webp">
            <div class="hover">
              <a>smile so loud (single, 2024)</a>
            </div>
          </div>
          <div onclick="window.open('https://distrokid.com/hyperfollow/jxxne/never-let-go')" class="album">
            <img src="/albums/nlg.webp">
            <div class="hover">
              <a>never let go (single, 2024)</a>
            </div>
          </div>
          <div onclick="window.open('https://distrokid.com/hyperfollow/raveyardkeeper/falling-backwards-feat-jxxne')" class="album">
            <img src="/albums/fb.webp">
            <div class="hover">
              <a>falling backwards (collab single, 2024)</a>
            </div>
          </div>
        </div>
      </div>
      <div id="boxright" class="boxright unscrolledy">
        <h3>what i'm listening to!</h3>
        <p>top tracks // recently played</p>
        <div id="listening" class="listening">      
        </div>
        <div id="recent" class="listening">      
        </div>
      </div>
    </div>