   <div id="projects" class="content projects hidden">
      <h1 class="title">projects</h1>
      <div class="mainlinks">
        <div onclick="window.open('https://soundcloud.com/shitbox-soundz')" class="item">
          <h1>shitbox sound</h1>
          <p>a small sheffield sound system run by me and 3 other good friends!</p>
        </div>
        <div onclick="window.open('https://github.com/jxxne/patchogochi')" class="item">
          <h1>patchogochi</h1>
          <p>a little pet for your battle jacket using an esp32 and a small lcd!</p>
        </div>
        <div onclick="window.open('https://github.com/jxxne/vitaldowngrader')" class="item">
          <h1>vital downgrader</h1>
          <p>super simple program used to downgrade vital presets made in beta versions to stable.</p>
        </div>
      </div>
    </div>