html {
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    margin: 0;
    font-family: Hack, monospace;
}

.background {
    width: calc(100vw);
    height: calc(100vh);
    background-color: #02012a;
    position:fixed;
    top: 0;
}

.background .layer1 {
    position: relative;
    height: 100%;
    background: linear-gradient(#02012a 25%, #a54483 50%, #a54483 50%, #02012a 100%);
    /**filter: blur(2px);**/
}
   
.background .layer1 .wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    perspective: 360px;
    perspective-origin: 50% 50%;
}

.background .layer1 .top-plane, .bottom-plane {
    width: 200%;
    height: 130%;
    position: absolute;
    bottom: -30%;
    left: -50%;
    background-image: -webkit-linear-gradient(#a54483 2px, transparent 2px), -webkit-linear-gradient(left, #a54483 2px, transparent 2px);
    background-size: 100px 100px,100px 100px;
    background-position: -1px -1px,-1px -1px;
    transform: rotateX(85deg);
    animation: planeMoveTop 12s infinite linear;
}

.background .layer1 .bottom-plane {
    transform: rotateX(-85deg);
    top: -30%;
    animation: planeMoveBot 12s infinite linear;
}
  
  @keyframes planeMoveTop {
    from {
      background-position: 0px -100px,0px 0px;
    }
    to {
      background-position: 0px 0px, 100px 0px;
    }
  }
  
  @keyframes planeMoveBot {
    from {
      background-position: 0px -100px, 100px 0px;
    }
    to {
        background-position: 0px 0px,0px 0px;
    }
  }
  @media (max-height: 350px) {
    .background .layer1 .wrap {
      perspective: 210px;
    }
  }

  .background .layer2 {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(100vh);
    width: calc(100vw);
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.20) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.03), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

  .background .layer3 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 27%, rgba(0, 0, 0,1) 97%); 
  }

  .menu {
    z-index: 10;
    background-color: #180e4c;
    position: absolute;
    width:max-content;
    height: auto;
    left: calc(50vw);
    top: 10px;
    transform: translateX(-50%);
    border-radius: 35px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.55); 
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.55);
    padding: 20px;
    max-width: calc(100vw - 40px);
  }
  .menu .page {
    color: #da6c8c;
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    border-radius: 30px;
    transition: 0.2s;
    text-decoration: none;
    cursor: pointer;
  }
  .menu .page:hover {
    background-color: #da6c8c;
    color: #180e4c;
    transition: 0.2s;
  }

  .content {
    z-index: 10;
    background-color: #180e4c;
    color: #da6c8c;
    position: absolute;
    width: calc(50vw);
    height: auto;
    top: calc(50vh);
    left: calc(50vw);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.55); 
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.55);
    padding: 15px;
    transition: 1.2s;
    /**visibility: hidden;**/
  }
  .content h3 {
    font-weight: 600;
  }

  .content .link {
    text-decoration: none;
    color: #da6c8c;
    font-weight: 600;
  }

  .content .nextoeachother {
    width: 100%;
  
    display: flex;
    gap: 16px;
  }
  
  .content .nextoeachother .box { 
    flex-grow: 1; 
  }

  .hidden {
    left: calc(0vw);
    transform: translate(-100%, -50%);
    visibility: hidden;
  }

  .content * {
    margin: 0px;
  }
  .background .logo {
    width: 35%;
    left: calc(50vw);
    top: calc(50vh);
    transform: translate(-50%, -50%);
    position: absolute;
    filter: drop-shadow(5px 5px 0px #a54483);
  }

  .notice {
    font-size: 15px;
    position: fixed;
    z-index: 9;
    top: calc(100vh - 30px);
    left: 15px;
    text-decoration: none;
    font-weight: 400;
    color: #da6c8c;
  }