html {
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    margin: 0;
    font-family: Hack, monospace;
}

.background {
    width: calc(100vw);
    height: calc(100vh);
    background-color: #02012a;
    position:fixed;
    top: 0;
}

.background .layer1 {
    position: relative;
    height: 100%;
    background: linear-gradient(#02012a 25%, #a54483 50%, #a54483 50%, #02012a 100%);
    /**filter: blur(2px);**/
}
   
.background .layer1 .wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    perspective: 360px;
    perspective-origin: 50% 50%;
}

.background .layer1 .top-plane, .bottom-plane {
    width: 200%;
    height: 130%;
    position: absolute;
    bottom: -30%;
    left: -50%;
    background-image: -webkit-linear-gradient(#a54483 2px, transparent 2px), -webkit-linear-gradient(left, #a54483 2px, transparent 2px);
    background-size: 100px 100px,100px 100px;
    background-position: -1px -1px,-1px -1px;
    transform: rotateX(85deg);
    /*animation: planeMoveTop 12s infinite linear;*/
}

.background .layer1 .bottom-plane {
    transform: rotateX(-85deg);
    top: -30%;
    /*animation: planeMoveBot 30s infinite linear;*/
}
  
  @keyframes planeMoveTop {
    from {
      background-position: 0px -100px,0px 0px;
    }
    to {
      background-position: 0px 0px, 100px 0px;
    }
  }
  
  @keyframes planeMoveBot {
    from {
      background-position: 0px -100px, 100px 0px;
    }
    to {
        background-position: 0px 0px,0px 0px;
    }
  }
  @media (max-height: 350px) {
    .background .layer1 .wrap {
      perspective: 210px;
    }
  }

  .background .layer2 {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(100vh);
    width: calc(100vw);
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.20) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.03), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

  .background .layer3 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 27%, rgba(0, 0, 0,1) 97%); 
  }

  .menu {
    z-index: 10;
    background-color: #180e4c;
    position: absolute;
    width:max-content;
    height: auto;
    left: calc(50vw);
    top: 10px;
    transform: translateX(-50%);
    border-radius: 35px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.55); 
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.55);
    padding: 20px;
    max-width: calc(100vw - 40px);
  }
  .menu .page {
    color: #da6c8c;
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    border-radius: 30px;
    transition: 0.2s;
    text-decoration: none;
    cursor: pointer;
  }
  .menu .page:hover {
    background-color: #da6c8c;
    color: #180e4c;
    transition: 0.2s;
  }

  .content {
    z-index: 10;
    background-color: #180e4c;
    color: #da6c8c;
    position: absolute;
    /*width: calc(50vw);*/
    height: auto;
    top: calc(50vh);
    left: calc(50vw);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.55); 
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.55);
    padding: 15px;
    transition: 1.2s;
    max-height: 60vh;
    overflow-y: auto;
    /**visibility: hidden;**/
  }
  .content h3 {
    font-weight: 600;
  }
  .about {
    max-width: 720px;
  }
  .about .side {
    float: right;
    padding-left: 15px;
  }

  .content .link {
    text-decoration: none;
    color: #da6c8c;
    font-weight: 600;
  }

  .music {
    width: auto;
    display: flex;
    max-height: 462px;
  }
  .music .boxleft { 
    float: left;
    width: auto;
    text-align: left;
  }

  .music .albums {
    display: flex;
    width: auto;
    flex-basis: auto;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 352px;
  }
  .music .album {
    min-width: 110px;
    height: 110px;
    margin-top: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.55);
  }
  .music .album img {
    width: 110px;
    height: 110px;
  }

  .music .album * {
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
  }

  .music .album .hover {
    background-color: rgba(0, 0, 0,0.9);
    width: 110px;
    height: 110px;
    opacity: 0;
    transition: 0.2s;
  }
  .music .album:hover .hover {
    opacity: 1;
  }

  .music .album .hover a {
    color: #da6c8c;
    text-align: center;
    top: 55px;
    left: 55px;
    transform: translate(-50%, -50%);
    max-width: 100px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .music .listening {
    margin-top: 10px;
    width: 348px;
    background-color: #02012a;
    height: 200px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.55);
    overflow: auto;
    float: left;
    text-align: left;
}
.music .listening .item {
  width: 348px;
  height: 65px;
  display:flex;
  position: relative;
  overflow: hidden;
}

.music .listening .item .trackname {
  z-index: 5;
  color: white;
  font-weight: 600;
  text-shadow: 0px 0px 5px rgba(0, 0, 0,0.75);
  font-size: 19px;
  height: 19px;
  left: 75px;
  top: 29px;
  position: absolute;
}
.music .listening .item .artistname {
  z-index: 5;
  color: white;
  font-weight: 200;
  text-shadow: 0px 0px 5px rgba(0, 0, 0,0.75);
  font-size: 14px;
  height: 19px;
  left: 75px;
  top: 14px;
  position: absolute;
}

.music .listening .item .position {
  z-index: 5;
  color: white;
  font-weight: 200;
  text-shadow: 0px 0px 5px rgba(0, 0, 0,0.75);
  font-size: 20px;
  height: 20px;
  left: 338px;
  top: 22px;
  transform: translate(-100%, 0%);
  position: absolute;
}
.music .listening .item .backgroundimage {
  z-index: 2;
  left: -20px;
  top: -50px;
  position: absolute;
  object-position: 0px -100px;
  width: 500px;
  height: 300px;
  filter: blur(10px);

}

  .music .boxright { 
    float: right;
    width: 350px;
    flex-grow: 1; 
    text-align: right;
    margin-left: 10px;
  }

  .hidden {
    left: calc(0vw);
    transform: translate(-100%, -50%);
    visibility: hidden;
  }

  .content * {
    margin: 0px;
  }
  .background .logo {
    width: 35%;
    left: calc(50vw);
    top: calc(50vh);
    transform: translate(-50%, -50%);
    position: absolute;
    filter: drop-shadow(5px 5px 0px #a54483);
  }

  .notice {
    font-size: 15px;
    position: fixed;
    z-index: 9;
    top: calc(100vh - 30px);
    left: 15px;
    text-decoration: none;
    font-weight: 400;
    color: #da6c8c;
  }


  .socials {
    width: auto;
    display: flex;
    padding: 0px;
  }
  .socials .boxleft { 
    float: left;
    width: 370px;
  }

  .socials .boxleft .item { 
    float: left;
    width: 100%;
    height: calc(60px * 1.2);
    display: flex;
    position: relative;
    color: #da6c8c;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  .socials .boxleft .item:hover { 
    background-color: #da6c8c;
    color: #180e4c;
    transition: 0.2s;
  }

  .socials .boxleft .item .fa-brands {
    font-size: calc(48px * 1.2);
    top: calc(6px * 1.2);
    left: 51px;
    transform: translateX(-50%);
    position: absolute;
  }
  .socials .boxleft .item h1 {
    z-index: 5;
    font-weight: 600;
    font-size: calc(20px * 1.2);
    height: calc(20px * 1.2);
    left: 93px;
    top: calc(9px * 1.2);
    position: absolute;
    text-align: right;
    width: 260px;
  }
  .socials .boxleft .item p {
    z-index: 5;
    font-weight: 200;
    font-size: calc(15px * 1.2);
    height: calc(15px * 1.2);
    left: 93px;
    top: calc(30px * 1.2);
    position: absolute;
    text-align: right;
    width: 255px;
  }