<!DOCTYPE html>
<html>
  <head>
    <title>HTML5 sample page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="jane's website meow meow!!!!">
    <meta name="author" content="jane!">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
    <script src="https://kit.fontawesome.com/b0cbd22171.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
    <body>
        {{{ body }}}
    </body>
</html>